
.icon-home:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */