/* Main style - big desktops */
body {
    position: absolute;
    background-color: /*white*//*rgba(172, 255, 47, 0.2)*/ rgb(255, 242, 205);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
/* Header */
header {
    position: absolute;
    box-sizing: border-box;
    background-image: url("../photo/baner2.jpg");
    height: 811px;
    background-position: center;
    background-size: cover;
    width: 90%;
    top: -20px;
    left: 10%;
}
header .title {
    position: relative;
    font-size: 4em;
    top: 65%;
    left: 20%;
    width: 60%;
    margin: 0;
    font-family: 'Caesar Dressing', cursive;
    text-align: right;
    color: #1d1a19;
    text-shadow: 0 0 6px #1d1a19;
}
header #title2 {
    font-size: 3em;
    opacity: 0;
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animation1 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
/* Navigation */
nav {
    position: fixed;
    display: grid;
    width: 10%;
    height: 100vh;
    grid-template-rows: 133px 133px 133px 133px 133px 133px 1fr;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgba(172, 255, 47, 0));
    /* rgb(189, 197, 175) */
    text-align: center; 
    text-transform: uppercase;
    z-index: 3;
    padding-top: 20px;
}
nav .part {
    align-self: center;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav .part span {
    font-size: 2em;
}
a:link, a:visited {
    font-size: 0.6em;
    color: #1d1a19;
    font-weight: bold;
}
a:hover {
    font-size: 0.7em;
    color: #1d1a19;
    text-shadow: 2px 2px 5px rgb(235, 231, 234);
    font-weight: bold;
}
/* Social icon */
social {
    display: flex;
    width: 4%;
    right: 1%;
    height: 100vh;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2.5em;
    row-gap: 5px;
    z-index: 2;
}
social #facebook {
    box-sizing: border-box;
    padding: 5px;
    color:white;
    background-color: rgb(7, 7, 184);
    border-radius: 5px;
}
social #twitter {
    box-sizing: border-box;
    padding: 5px;
    color:white;
    background-color: rgb(66, 195, 235);
    border-radius: 5px;
}
social #instagram {
    box-sizing: border-box;
    padding: 5px;
    color:white;
    background-image: radial-gradient(circle at bottom left, rgb(255, 222, 37) 10%, rgb(219, 38, 38) 35%, rgb(156, 64, 156) 70%, rgb(79, 11, 167));
    border-radius: 5px;
}
social #youtube {
    box-sizing: border-box;
    padding: 5px;
    color:white;
    background-color: red;
    border-radius: 5px;
}
/* Headings */
h1 {
    position: relative;
    width: 90%;
    left: 10%;
    top: 811px;
    padding: 1% 0px;
    /*background-image: linear-gradient(135deg, yellowgreen 60%, rgba(172, 255, 47, 0) 70%);*/
    background-image: linear-gradient(135deg, rgb(255, 176, 28) 60%, rgba(172, 255, 47, 0) 70%);
}
h1 p {
    position: relative;
    left: 10%;
    width: 90%;
}
/* Articles position */
article {
    position: relative;
    width: 75%;
    left: 15%;
    top: 811px;
    padding: 2% 0px;
}
/* About me */
#about1 {
    display: grid;
    max-width: 80vw;
    grid-column-gap: 25px;
    grid-template-columns: 2fr 3fr;
}
#about1 section {
    align-self: center;
    text-align: center;
    line-height: 1.5em;
}
#about1 section img {
    border-radius: 150px;
    box-shadow: 1px 1px 20px black;
    max-height: auto;
    max-width: 300px;
}
/* Experience */
#experience1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
}
/* Abilities */
#abilities1 {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2em;
    font-weight: bold;
}
/* Recipes */
#recipes1 p {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#recip_photos {
    display: grid;
    max-width: 80vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
#recip_photos div {
    position: relative;
    box-sizing: padding-box;
    border: 2px solid yellowgreen;
    border-radius: 10px;
}
#recip_photos img {
    border-radius: 8px;
}
#recip_photos .description {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: grey;
    text-decoration: none;
    color: black;
    font-size: 1em;
}
#recip_photos .description p{
    position: relative;
    top: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
#recip_photos .description:hover {
    opacity: 0.7
}
/* Contact */
#contact1 {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
    font-size: 1.5em;
}
#contact1 section2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.6em;
    line-height: 1.8em;
    justify-self: center;
}
footer {
    position: relative;
    width: 90%;
    left: 10%;
    top: 811px;
    padding: 5px 0;
    background-color: rgb(255, 176, 28);
    text-align: center;
}
form {
    display: grid;
}
form input, form textarea {
    width: 90%;
    border-radius: 15px;
    background-color: rgb(206, 197, 197);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
form .button {
    width: 50%;
    justify-self: center;
}
form .button:hover {
    border: 2px solid white;
}
form .button:active {
    background-color: whitesmoke;
}
footer p {
    position: relative;
    left: 15%;
    width: 65%;
}
/* Small desktops */
@media only screen and (min-width: 1081px) and (max-width: 1280px) {
    body {
        font-size: 17px;
    }
    header {
        height: 805px;
    }
}
/* Very small desktops */
@media only screen and (min-width: 961px) and (max-width: 1080px) {
    body {
        font-size: 15px;
    }
    header {
        height: 803px;
    }
}
/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    body {
        font-size: 14px;
    }
    header {
        position: absolute;
        box-sizing: border-box;
        background-image: url("../photo/baner.jpg");
        height: 811px;
        background-position: center;
        background-size: cover;
        width: 100%;
        left: 0;
        top: -20px;
    }
    nav {
        position: fixed;
        display: grid;
        width: 100%;
        height: 4vh;
        top: -37px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center; 
        text-transform: uppercase;
        z-index: 3;
        padding-top: 0px;
    }
    nav .part {
        background-color: yellow;
    }
    h1 {
        width: 100%;
        left: 0;
        font-size: 1.5em;
    }
    article {
        width: 90%;
        left: 5%;
    }
    #about1 {
        display: grid;
        max-width: 100vw;
        grid-column-gap: 25px;
        grid-template-columns: 1fr;
    }
    #experience1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    #recip_photos {
        display: grid;
        max-width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        justify-content: center;
    }
    #contact1 {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        line-height: 2em;
        font-size: 1.5em;
    }
    #contact1 section1 {
        justify-self: center;
    }
    #contact1 section2 {
        justify-self: center;
    }
    social {
        display: flex;
        width: 100%;
        right: auto;
        bottom: 0;
        height: 4vh;
        min-height: 40px;
        position: fixed;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        font-size: 2.5em;
        row-gap: 5px;
        z-index: 2;
        background-color: yellow;
        padding: 5px;
        border-top: 2px solid black;
    }
    footer {
        width: 100%;
        left: 0;
        padding-bottom: 50px;
    }
}
/* Phones */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    header {
        position: absolute;
        box-sizing: border-box;
        background-image: url("../photo/baner.jpg");
        height: 811px;
        background-position: center;
        background-size: cover;
        width: 100%;
        left: 0;
        top: -20px;
    }
    header .title {
        position: relative;
        font-size: 3.5em;
        top: 65%;
        left: 30%;
        width: 60%;
        margin: 0;
        font-family: 'Caesar Dressing', cursive;
        text-align: right;
        color: #1d1a19;
        text-shadow: 0 0 6px #1d1a19;
    }
    header #title2 {
        font-size: 2.4em;
    }
    nav {
        position: fixed;
        display: grid;
        width: 100%;
        height: 6vh;
        top: -52px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center; 
        text-transform: uppercase;
        z-index: 3;
        padding-top: 0px;
    }
    nav .part {
        background-color: yellow;
    }
    nav .part p {
        font-size: 0;
    }
    nav .part span {
        font-size: 2.5em;
    }
    h1 {
        width: 100%;
        left: 0;
        font-size: 1.5em;
    }
    article {
        width: 90%;
        left: 5%;
    }
    #about1 {
        display: grid;
        max-width: 100vw;
        grid-column-gap: 25px;
        grid-template-columns: 1fr;
    }
    #experience1 {
        display: grid;
        grid-template-columns: 1fr;
    }
    #recip_photos {
        display: grid;
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        justify-content: center;
    }
    #contact1 {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        line-height: 2em;
        font-size: 1.5em;
    }
    #contact1 section1 {
        justify-self: center;
    }
    #contact1 section2 {
        justify-self: center;
    }
    social {
        display: flex;
        width: 100%;
        right: auto;
        bottom: 0;
        height: 4vh;
        min-height: 40px;
        position: fixed;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        font-size: 2em;
        row-gap: 5px;
        z-index: 2;
        background-color: yellow;
        padding: 5px;
        border-top: 2px solid black;
    }
    footer {
        width: 100%;
        left: 0;
        padding-bottom: 50px;
    }
}
